.clip  { 
	text-overflow: clip; 
	white-space: nowrap;
	overflow: hidden
}

.linkpost-card-header a:hover {
	text-decoration: underline
}

.subtract-time-size {
	width: -webkit-calc(100% - 100px);
    width:    -moz-calc(100% - 100px);
    width:         calc(100% - 100px);
}

blockquote {
  border-radius: 0.25rem;
}

.card-header-blockquote {
  background: rgba(0, 0, 0, 0.06);
}

.card-header-blockquote-excerpt {
  font-size: .7rem;
}
