.clip  { 
	text-overflow: clip; 
	white-space: nowrap;
	overflow: hidden
}

.image-card-header a:hover {
	text-decoration: underline
}

.subtract-time-size {
	width: -webkit-calc(100% - 100px);
    width:    -moz-calc(100% - 100px);
    width:         calc(100% - 100px);
}